@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700);
body {
    line-height: 160%;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
}

@media(min-width:400px) {
    body {
        margin-left: 15%;
        margin-right: 15%;
    }
}

.hot {
    font-weight: 700;
    border-bottom: 3px solid orange;
}

mark {
    background: orange;
    font-weight: bold;
}

.header {
    padding-top: 20px;
    border-bottom: 2px solid rgb(216, 216, 216);
}

.header h3 {
    font-weight: normal;
}

.header ul {
    list-style: none;
    padding: 0;
    margin-top: 0
}

.header li {
    display: inline-block;
    margin-right: 5px;
}

.header img {
    height: 30px;
}

.content ul {
    list-style: none;
}

.content li {
    margin-bottom: 10px;
}

.content img {
    height: 10px;
    display: inline-block;
}

.content span {
    width: 30px;
}

.content .detail {
    display: none;
    /* background-color: rgb(230, 230, 230); */
    border-left: 5px solid rgb(230, 230, 230);
    padding: 0px 20px;
    margin: 20px 0px;
    border-radius: 5px;
}

.content .item {
    display: inline-block;
    width: 200px;
    font-weight: bold;
}


/* Rotate */

.rotate {
    transform: rotate(-180deg);
    transition: 0.5s;
}

.rotate-reset {
    transform: rotate(0deg);
    transition: 0.5s;
}


/* Fade-in */

.fade {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}