@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700);

body {
	font-size: 12px;
	font-family: 'Lato', sans-serif;	
}

/* Header and intro text */

.header {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
  position: fixed;
	left: 0;
	right: 0;
	height: 100px;
	padding: 15px;
	background-color: white;
	border-bottom: 2px black solid;
}

.intro {
	padding: 5px;
	margin-bottom: 10px;
}

.headerLeft {
	font-size: 22px;
	font-weight: 700;
	padding-top: 10px;
	margin-bottom: 20px;
	float: left;
}

.headerRight {
	padding-left: 10px;
	float: right;
}

.header p {
	margin-top: 5px;
	margin-bottom: 15px;
}

.introleft {
	float: left;
	width: 110px;
}

.hotword {
	border-bottom: 3px solid orange;
}


/* Grid and Rows */

.gridContainer {
	margin-left: 20px;
	padding-top: 100px !important;
	width: 95%;
}

.gridIntro {
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: 200px;
	font-size: 16px;
}

.rowHead, .colHead {
	font-size: 16px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
}

.rowHeadRight {
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	padding-right: 20px;
	padding-top: 15px;
}

/* Tile Content */

.tileContent {
	padding: 10px;
	height: 80px;
	border-radius: 5px;
}

.tileHeading {
	font-size: 15px;
	font-weight: bold;
}

.tileBlurb {
	font-size: 13px;
	font-style: italic;
	margin-bottom: 7px;
}

.tileRole {
	font-size: 14px;
	font-weight: bold;
}

.tileColor1 { background: rgb(160,160,160); color: rgb(0,0,0);}
.tileColor2 { background: rgb(168,168,168); color: rgb(10,10,10);}
.tileColor3 { background: rgb(176,176,176); color: rgb(20,20,20);}
.tileColor4 { background: rgb(184,184,184); color: rgb(30,30,30);}
.tileColor5 { background: rgb(192,192,192); color: rgb(40,40,40);}
.tileColor6 { background: rgb(200,200,200); color: rgb(50,50,50);}
.tileColor7 { background: rgb(208,208,208); color: rgb(60,60,60);}
.tileColor8 { background: rgb(216,216,216); color: rgb(70,70,70);}
.tileColor9 { background: rgb(224,224,224); color: rgb(80,80,80);}
.tileColor10 { background: rgb(232,232,232); color: rgb(90,90,90);}
.tileColor11 { background: rgb(240,240,240); color: rgb(100,100,100);}
.tileColor12 { background: rgb(248,248,248); color: rgb(110,110,110);}

/* Tile Actions */

.tileHover {
	background: orange;
}

.tileSelect {
	background: orange;
}

/* Description Content */

.descContent {
	background: #fce5ba;
	padding: 15px;
	border-radius: 5px;
	font-size: 13px;
}

.descHeader {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
	margin-bottom: 15px;
}

.descContent li {
	margin-bottom: 4px;
}

/* Footer */

.footer {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 2px solid rgb(216,216,216);
}

.footer a {
	font-size: 14px;
}
